.contact-box {
    max-width: 600px;
    border: 1px solid #3a3f6e;;
}

.contact-body {
    background: #252840; 
    padding: 1.2rem;
    font-size: 0.78rem;
    line-height: 2;
}

.contact-line {
    font-size: 0.8rem;
    line-height: 2.2;
    display: flex;
    gap: 0.5rem;
}

.contact-key { 
    color: #89ddff; 
    min-width: 80px; 
}

.contact-val {
    color: #c3e88d;
    text-decoration: none;
    transition: color 0.2s;
}

.contact-top {
    background: #2e3250;;
    border-bottom: 1px solid #3a3f6e;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Space Mono', monospace;
  }

.dot {
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
}

#red { background: #f07178; }
#yellow { background: #ffcb6b; }
#green { background: #89ddff; }
 

