.home {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    background-color: pink;
}
.home-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8vw;
  //  background-color: #ec8cc2;
}
.home-left h1{
    font-size: 7vw;
    color: #333;
    line-height: 1.3;
    margin: 0;
}
.home-left p{
    font-size: 1.7vw;
    margin: 0;
}
.home-right{
    width: 50%;
   // background-color: #d863a6;
}
.social-icons {
    display: flex;
    gap: 2vw;
    margin-top: 4vw;
    font-size: 2vw;
}